<template>
  <v-layout row>
    <v-dialog v-model="dialog" persistent max-width="1000px">
      <v-btn
        slot="activator"
        flat
        color="teal darken-2"
        dark
        class="align-left"
        @click="BuscarIrmao"
      >
        <small>EMPRESTAR</small>
        <v-icon right small>fas fa-angle-double-right</v-icon>
      </v-btn>
      <v-card>
        <v-flex xs12 sm12>
          <div class="pt-3">
            <v-btn
              right
              class="white--text"
              small
              fab
              round
              outline
              color="red darken-1"
              absolute
              v-on:click="dialog = false"
            >
              <v-icon>close</v-icon>
            </v-btn>
          </div>
        </v-flex>
        <v-card-text>
          <v-flex xs12 sm12 md12 lg12 align-center>
            <span class="headline teal--text text--darken-3 text-uppercase">Cadastro de Empréstimo</span>
          </v-flex>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm12 md6 lg6>
                <v-autocomplete
                  v-model="irmaoNome"
                  :items="irmaos"
                  outline
                  label="Irmão a ser atendido"
                  item-text="nome"
                  item-value="nome"
                  color="teal darken-3"
                  single-line
                  append-icon="far fa-list-alt"
                >
                  <template slot="selection" slot-scope="data">{{ data.item.nome }}</template>
                  <template slot="item" slot-scope="data">
                    <v-flex xs10 sm10>
                      <v-list-tile
                        @click="DadosIrmao(data)"
                      >
                        <v-list-tile-content v-html="data.item.nome"></v-list-tile-content>
                      </v-list-tile>
                    </v-flex>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex xs12 sm12 md6 lg6>
                <v-dialog
                  ref="dialog_emprestimo"
                  v-model="modal"
                  :return-value.sync="data_emprestimo"
                  persistent
                  lazy
                  full-width
                  width="290px"
                >
                  <v-text-field
                    slot="activator"
                    v-model="computedDateFormatted"
                    label="Data do empréstimo *"
                    append-icon="event"
                    readonly
                    color="teal darken-3"
                    hint
                    single-line
                    persistent-hint
                    outline
                  ></v-text-field>
                  <v-date-picker v-model="data_emprestimo" scrollable locale="pt-BR">
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="modal = false">Cancelar</v-btn>
                    <v-btn
                      flat
                      color="primary"
                      @click="$refs.dialog_emprestimo.save(data_emprestimo)"
                    >OK</v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-flex>

              <v-flex xs12 sm12 md6 lg6>
                <v-card>
                  <v-card-title>
                    <v-flex xs12 sm12 md12 lg12 align-center>
                      <h4 class="text-uppercase font-weight-regular">Dados pessoais</h4>
                    </v-flex>
                  </v-card-title>
                  <v-divider></v-divider>
                  <v-list>
                     <v-flex xs12 sm12 md12 lg12 d-flex>
                    <v-flex xs12 sm12 md4 lg4>
                      <v-list-tile-content>
                        <span class="font-weight-thin grey--text text--darken-2 text-uppercase">Endereço</span>
                        <span class="font-weight-regular text-uppercase">{{irmaoEndereco}}</span>
                      </v-list-tile-content>
                    </v-flex>
                   <v-flex xs12 sm12 md4 lg4>
                      <v-list-tile-content>
                        <span class="font-weight-thin grey--text text--darken-2 text-uppercase">Cidade</span>
                        <span class="font-weight-regular text-uppercase">{{irmaoCidade}}</span>
                      </v-list-tile-content>
                    </v-flex>
                    <v-flex xs12 sm12 md4 lg4>
                      <v-list-tile-content>
                        <span class="font-weight-thin grey--text text--darken-2 text-uppercase">Telefone</span>
                        <span class="font-weight-regular text-uppercase">{{irmaoTelefone}}</span>
                      </v-list-tile-content>
                    </v-flex>
                     </v-flex>
                  </v-list>
                </v-card>
              </v-flex>
              <v-flex xs12 sm12 md6 lg6>
                <v-card>
                  <v-card-title>
                    <v-flex xs12 sm12 md12 lg12 align-center>
                      <h4 class="text-uppercase font-weight-light">Igreja a ser atendida</h4>
                    </v-flex>
                  </v-card-title>
                  <v-divider></v-divider>
                  <v-list>
                     <v-flex xs12 sm12 md12 lg12 d-flex>
                        <v-flex xs12 sm12 md4 lg4>
                      <v-list-tile-content>
                        <span class="font-weight-thin grey--text text--darken-2 text-uppercase text-truncate">Congregação</span>
                        <span class="font-weight-regular text-uppercase">{{irmaoCongregacao}}</span>
                      </v-list-tile-content>
                    </v-flex>
                    <v-flex xs12 sm12 md4 lg4>
                      <v-list-tile-content>
                        <span class="font-weight-thin grey--text text--darken-2 text-uppercase">Enc. Regional </span>
                        <span class="font-weight-regular text-uppercase">{{irmaoRegional}}</span>
                      </v-list-tile-content>
                    </v-flex>
                      <v-flex xs12 sm12 md4 lg4>
                      <v-list-tile-content>
                        <span class="font-weight-thin grey--text text--darken-2 text-uppercase">Enc. Local</span>
                        <span class="font-weight-regular text-uppercase">{{irmaoLocal}}</span>
                      </v-list-tile-content>
                    </v-flex>
                     </v-flex>
                  </v-list>
                </v-card>
              </v-flex>

              <v-flex align-center>
                <termos
                  v-bind:numero_tombamento="numero_do_tombamento"
                  v-on:cadastrarEmprestimo="CadastrarEmprestimo(),dialog = false"
                ></termos>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script>
import swal from "sweetalert2";
import Termos from "@/pages/Modulos/Patrimonio/Instrumento/Emprestimo/Termos";
export default {
  name: "emprestimo",
  components: {
    Termos
  },
  data: () => ({
    dialog_emprestimo: false,
    dialog: false,
    nome: null,
    emprestimo: false,
    data_emprestimo: new Date().toISOString().substr(0, 10),
    encarregado: "",
    congregacao: "",
    modal: false,
    tombamento_instrumento: "",
    igreja: "",
    regional: "",
    local: "",
    irmaos: [],
    irmaoEndereco: "",
    irmaoCidade: "",
    irmaoTelefone: "",
    irmaoCongregacao: "",
    irmaoRegional: "",
    irmaoLocal: "",
    irmaoNome: ""
  }),
  computed: {
    computedDateFormatted() {
      return this.formatDate(this.data_emprestimo);
    }
  },
  watch: {
    date(val) {
      this.dateFormatted = this.formatDate(this.data_emprestimo);
    }
  },
  props: ["numero_do_tombamento", "numero_do_instrumento"],
  methods: {
    DadosIrmao(dados) {      
      console.log("Irmaos", dados.item);
      this.irmaoNome = dados.item.nome;
      this.irmaoEndereco = dados.item.endereco;
      this.irmaoCidade = dados.item.cidade;
      this.irmaoTelefone = dados.item.telefone;
      if(dados.item.congregacao == null){
        this.irmaoCongregacao = "Sem comum congregação"
      }else{
        this.irmaoCongregacao = dados.item.congregacao;
      }
      
      if(dados.item.regional == null){
        this.irmaoRegional = "Sem encarregado"
      }else{
        this.irmaoRegional = dados.item.regional;
      }
      if(dados.item.local == null){
        this.irmaoLocal = "Sem encarregado"
      }else{
        this.irmaoLocal = dados.item.local;
      }
    },
    CadastrarEmprestimo() {
      //console.log(this.numero_do_instrumento);

      console.log("Nome: ", this.irmaoNome);
      if (this.irmaoNome == null) {
        swal.fire("Não é possivel salvar!", "Dados incompletos.", "warning");
      } else {
        let autorizacaoAux = sessionStorage.getItem("usuario");
        if (autorizacaoAux) {
          this.Loading("Realizando empréstimo...", "hourglass-half");
          this.autorizacao = JSON.parse(autorizacaoAux);
          //console.log("entrou no cadastro de emprestimo");
          this.$http
            .post(
              this.$url + "EmprestimoInstrumento/v1",
              {
                id: 0,
                idInstrumento: this.numero_do_instrumento,
                nome: this.irmaoNome,
                congregacao: this.irmaoCongregacao,
                tombamento: this.numero_do_tombamento,
                status: "2",
                encarregado: this.irmaoLocal,
                encarregadoRegional: this.irmaoRegional,
                devolucaoDate: new Date().toISOString().substr(0, 19),
                emprestimoDate: this.data_emprestimo,
                launchDate: new Date().toISOString().substr(0, 19)
              },
              {
                headers: {
                  authorization: "Bearer " + this.autorizacao.accessToken
                }
              }
            )
            .then(response => {
              if (response.status == 200) {
                console.log("data value emprestimo", response.data);

                this.$emit("emprestar_atualizar");

                this.Salvo("Empréstimo", "Salvo com sucesso!", "success");
              }
            })
            .catch(e => {
              swal.fire(
                "Sua autorização expirou!",
                "Entre com suas credencias novamente.",
                "warning"
              );
              this.$router.push("/");
              console.error(e);
              console.data(e.data);
            });
        }
      }
    },
    Loading(title, icon) {
      swal.fire({
        title: title,
        html:
          "Por favor só um momento... " + '<i class="fas fa-' + icon + "></i>",
        timer: 3000,
        onOpen: () => {
          swal.enableLoading();
        }
      });
    },
    Salvo(title, msg, type) {
      swal.fire(title, msg, type);
    },
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    BuscarIrmao() {
      this.irmaos = [];     
      let usuarioAutorize = sessionStorage.getItem("usuario");
      if (!usuarioAutorize) {
        this.$router.push("/");
        const toast = swal.mixin({
          toast: true,
          position: "top-end",
          showConfirmButton: false,
          timer: 3000
        });

        toast({
          type: "error",
          title: "Sem autorização, entre com seus dados novamente!"
        });
      } else if (usuarioAutorize) {
        this.autorizacao = JSON.parse(usuarioAutorize);
        this.busca = true;
        this.$http
          .get(this.$url + "Usuario/v1", {
            headers: { authorization: "Bearer " + this.autorizacao.accessToken }
          })
          .then(response => {
            //console.log(response.status);
            if (response.status == 200) {
              response.data.forEach(element => {
                this.$http
                  .get(
                    this.$url +
                      "UsuarioIgreja/v1/usuario-por-id?id=" +
                      element.id,
                    {
                      headers: {
                        authorization: "Bearer " + this.autorizacao.accessToken
                      }
                    }
                  )
                  .then(response => {
                    //console.log(response.status);
                    if (response.status == 200) {
                      this.$http
                        .get(
                          this.$url + "Igreja/v1/" + response.data.idIgreja,
                          {
                            headers: {
                              authorization:"Bearer " + this.autorizacao.accessToken
                            }
                          }
                        )
                        .then(response => {
                          //console.log(response.status);
                          if (response.status == 200) {
                            //console.log(response.data)
                            
                            this.irmaos.push({
                              nome: element.nome,
                              cargo: element.cargo,
                              endereco: element.rua + ", "+ element.numero,
                              cidade: element.cidade,
                              telefone: element.telefone,
                              congregacao: response.data.cidade,
                              regional:response.data.encRegional,
                              local: response.data.encLocal
                            });
                            this.busca = false;
                            
                            //console.log(this.igreja);
                          }
                          //console.log(response.data);
                        })
                        .catch(e => {
                          console.error(e);
                          console.data(e.data);
                        });
                    }
                  })
                  .catch(e => {
                    console.error(e);
                    console.data(e.data);
                  });
              });
             
            } else if (response.status == 401) {
              swal.fire(
                "Sua autorização expirou!",
                "Entre com suas credencias novamente.",
                "warning"
              );
              this.$router.push("/");
              const toast = swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 3000
              });
            }
            //console.log(response.data);
          })
          .catch(e => {
            swal.fire(
              "Sua autorização expirou!",
              "Entre com suas credencias novamente.",
              "warning"
            );
            console.error(e);
            console.data(e.data);
          });           
      } 
    }
  }
};
</script>
<style>
.mesmo-tamanho {
  width: 100%;
  white-space: normal;
}
</style>
