<template>
  <v-flex xs12 sm12 md12 lg12>
    <v-divider></v-divider>
    <v-flex xs12 sm12 md12 lg12 > <span class="subheading text-uppercase mb-0 teal--text text--darken-4">Anexos</span></v-flex>
    <v-layout>      
      <v-flex xs12 sm4>
        <v-hover>
          <v-card slot-scope="{ hover }" :class="`elevation-${hover ? 12 : 2}`" class="mx-auto">            
            <v-card-text>
              <span id="cadastropedido">
              <file-pond
                style="cursor:pointer"
                name="test"
                ref="pond"
                class-name="my-pond"
                label-idle="SOLICITAÇÃO DE INSTRUMENTO"
                :accepted-file-types="tipo"
                v-bind:files="myFiles"
                labelFileTypeNotAllowed="NÃO ACEITO"
                fileValidateTypeLabelExpectedTypes="É esperado um PDF"
              >               
              </file-pond>
            </span>
            </v-card-text>            
          </v-card>
        </v-hover>
      </v-flex>
      <v-flex xs12 sm4>
        <v-hover>
          <v-card slot-scope="{ hover }" :class="`elevation-${hover ? 12 : 2}`" class="mx-auto">
            
            <v-card-text>
              <span id="cadastrotermos">
              <file-pond
                style="cursor:pointer"
                name="test"
                ref="pond"
                class-name="my-pond"
                label-idle="TERMO DE RESPONSABILIDADE"
                :accepted-file-types="tipo"
                v-bind:files="myFiles"
                labelFileTypeNotAllowed="NÃO ACEITO"
                fileValidateTypeLabelExpectedTypes="É esperado um PDF"
              >               
              </file-pond>
            </span>
            </v-card-text>            
          </v-card>
        </v-hover>
      </v-flex>
      <v-flex xs12 sm4>
        <v-hover>
          <v-card slot-scope="{ hover }" :class="`elevation-${hover ? 12 : 2}`" class="mx-auto">
           
            <v-card-text>
              <span id="cadastrotermos">
              <file-pond
                style="cursor:pointer"
                name="test"
                ref="pondciencia"
                class-name="my-pond"
                label-idle="TERMO DE CIÊNCIA PARA MINISTÉRIO LOCAL"
                :accepted-file-types="tipo"
                v-bind:files="myFiles"
                labelFileTypeNotAllowed="NÃO ACEITO"
                fileValidateTypeLabelExpectedTypes="É esperado um PDF"
              >               
              </file-pond>
            </span>
            </v-card-text>            
          </v-card>
        </v-hover>
      </v-flex>
    </v-layout>

    <v-flex xs12 sm12 md12 lg12 align-center>
      <v-btn
        round
        outline
        color="teal darken-2"
        dark
        v-on:click="Emprestar(),TermoCiencia(), TermoResponsabilidade(), TermoPedido()"
      >
        EMPRESTAR INSTRUMENTO
        <v-icon right dark>fas fa-angle-double-right</v-icon>
      </v-btn>
    </v-flex>
  </v-flex>
</template>
  
  <script>
// Import FilePond
import vueFilePond from "vue-filepond";

// Import plugins
import FilePondPluginFileValidateType from "filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.esm.js";
import FilePondPluginImagePreview from "filepond-plugin-image-preview/dist/filepond-plugin-image-preview.esm.js";
import FilePondPluginFileRename from "filepond-plugin-file-rename";
import swal from "sweetalert2";

// Import styles
import "filepond/dist/filepond.min.css";
import "filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css";

// Create FilePond component
const FilePond = vueFilePond(
  FilePondPluginFileValidateType,
  FilePondPluginImagePreview,
  FilePondPluginFileRename
);

export default {
  props: ["numero_tombamento"],
  name: "termos",
  data: function() {
    return {
      myFiles: [],
      arquivos: [],
      tipo: ["application/pdf"],
      emprestimos: [],
      emprestimo: "",
      nome: ""
    };
  },
  created(){ 
    this.BuscarEmprestimos(this.numero_tombamento)     

    },
  methods: {
    TermoResponsabilidade: function() {
      console.log("Termo responsabilidade has initialized");
      // example of instance method call on pond reference
      console.log(this.$refs.pond.getFiles());
      this.arquivos = this.$refs.pond.getFiles();
      console.log("quantidade de arquivos", this.arquivos.length);
      if (this.arquivos.length == 1) {
        this.arquivos.forEach(element => {
          console.log(element.file);
          let formData = new FormData();
          console.log("numero", this.numero_tombamento);
          if (this.numero_tombamento == null) {
            swal.fire(
              "Atenção!",
              "O numero de tombamento precisa estar selecionado!",
              "warning"
            );
          } else {
            this.BuscarEmprestimos(this.numero_tombamento);
            console.log("Criado o arquivo para anexar ao emprestimo");
            formData.append(
              "file",
              element.file,
              "Termo de responsabilidade-" +
                this.numero_tombamento +
                "-" +
                this.emprestimo +
                ".pdf"
            );
            console.log("Arquivo:", formData.getAll("file"));
            this.salvarTermo(formData,"responsabilidade")
            this.Emprestar();
          }
        });
      }
    },
    TermoPedido: function() {
      console.log("Solicitacao has initialized");
      // example of instance method call on pond reference
      console.log(this.$refs.pond.getFiles());
      this.arquivos = this.$refs.pond.getFiles();
      console.log("quantidade de arquivos", this.arquivos.length);
      if (this.arquivos.length == 1) {
        this.arquivos.forEach(element => {
          console.log(element.file);
          let formData = new FormData();
          console.log("numero", this.numero_tombamento);
          if (this.numero_tombamento == null) {
            swal.fire(
              "Atenção!",
              "O numero de tombamento precisa estar selecionado!",
              "warning"
            );
          } else {
            this.BuscarEmprestimos(this.numero_tombamento);
            console.log("Criado o arquivo para anexar ao emprestimo");
            formData.append(
              "file",
              element.file,
              "solicitacão de instrumento-" +
                this.numero_tombamento +
                "-" +
                this.emprestimo +
                ".pdf"
            );
            console.log("Arquivo:", formData.getAll("file"));
            this.salvarTermo(formData,"solicitacao")
            this.Emprestar();
          }
        });
      }
    },
    TermoCiencia: function() {
      console.log("Termo ciência has initialized");
      // example of instance method call on pond reference
      console.log(this.$refs.pondciencia.getFiles());
      this.arquivos = this.$refs.pondciencia.getFiles();
      console.log("quantidade de arquivos", this.arquivos.length);
      if (this.arquivos.length == 1) {
        this.arquivos.forEach(element => {
          console.log(element.file);
          let formData = new FormData();
          console.log("numero", this.numero_tombamento);
          if (this.numero_tombamento == null) {
            swal.fire(
              "Atenção!",
              "O numero de tombamento precisa estar selecionado!",
              "warning"
            );
          } else {
            console.log("Criado o arquivo para anexar ao emprestimo");
            formData.append(
              "file",
              element.file,
              "Termo-de-ciencia-" +
                this.numero_tombamento +
                "-" +
                this.emprestimo +
                ".pdf"
            );
            console.log("Arquivo:", formData.getAll("file"));
            this.salvarTermo(formData,"ciencia")
            this.Emprestar();
          }
        });
      }
    },
    salvarTermo(termo,tipo) {
      let autorizacaoAux = sessionStorage.getItem("usuario");
      if (autorizacaoAux) {
        this.autorizacao = JSON.parse(autorizacaoAux);
        console.log("entrou para anexar termo de "+tipo);
        this.$http
          .post(
            this.$url + "EmprestimoInstrumento/v1/salvar-"+tipo+"-emprestimo",
            termo,
            {
              headers: {
                authorization: "Bearer " + this.autorizacao.accessToken
              }
            }
          )
          .then(response => {
            if (response.status == 200) {
              this.dialog = false;
              swal.fire({
                type: "success",
                title: "Anexado com sucesso",
                text: "..."
              });
              console.log(response.data);
              this.$emit("path_nota", { path: response.data });
            } else if (response.status == 401) {
            } else if (response.status == 500) {
            }
            //console.log(response.data);
          })
          .catch(e => {
            swal.fire(
              "Sua autorização expirou!",
              "Entre com suas credencias novamente.",
              "warning"
            );
            this.$router.push("/");
            console.error(e);
            console.data(e.data);
          });
      }
    },
    BuscarEmprestimos(tombamento) {
      this.emprestimos = [];
      let usuarioAutorize = sessionStorage.getItem("usuario");
      if (!usuarioAutorize) {
        this.$router.push("/");
        const toast = swal.mixin({
          toast: true,
          position: "top-end",
          showConfirmButton: false,
          timer: 3000
        });

        toast({
          type: "error",
          title: "Sem autorização, entre com seus dados novamente!"
        });
      } else if (usuarioAutorize) {
        this.autorizacao = JSON.parse(usuarioAutorize);
        this.$http
          .get(
            this.$url +
              "EmprestimoInstrumento/v1/buscar-emprestimo?tombamento=" +
              tombamento,
            {
              headers: {
                authorization: "Bearer " + this.autorizacao.accessToken
              }
            }
          )
          .then(response => {
            //console.log(response.status);
            if (response.status == 200) {
              this.emprestimos = response.data;
              this.emprestimos.forEach(element => {
                //console.log(element.id);
                this.emprestimo = element.id;
                //console.log(this.emprestimo);
              });
            } else if (response.status == 401) {
              this.$router.push("/");
            }
            //console.log(response.data);
          })
          .catch(e => {
            swal.fire(
              "Sua autorização expirou!",
              "Entre com suas credencias novamente.",
              "warning"
            );
            this.$router.push("/");
            console.error(e);
            console.data(e.data);
          });
      }
      console.log("O numero do emprestimo será: ",this.emprestimo)
      
    },
    Emprestar() {
      this.$emit("cadastrarEmprestimo");
    }
  },
  components: {
    FilePond
  }
};
</script>
  <style  type="text/css">
/* the text color of the drop label*/
.filepond--drop-label {
  color: white;
}
.filepond--panel-root {
  background-color: rgb(82, 165, 165);
}
</style>
  
  