<template>
  <v-layout>
    <v-dialog v-model="dialog" persistent max-width="800px">
      <v-btn color="blue darken-4" @click="BuscarIgrejas(), LimparCampos()" slot="activator">
        <small class="white--text">Cadastrar Solicitação</small>
        <v-icon right class="white--text">fas fa-file-import</v-icon>
      </v-btn>
      <v-card>
        <v-flex xs12 sm12>
          <div class="pt-1">
            <v-btn
              right
              class="white--text"
              small
              fab
              round
              box
              color="red darken-1"
              absolute
              v-on:click="dialog = false"
            >
              <v-icon>close</v-icon>
            </v-btn>
          </div>
        </v-flex>
        <v-card-title>
          <v-flex xs12 sm12 md12 lg12 align-center>
            <span class="font-weight-bold headline blue--text text--darken-4">Cadastrar Solicitação</span>
          </v-flex>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm12 md12>
                <v-text-field
                  v-model="nome"
                  box
                  append-icon="fas fa-book"
                  color="blue darken-4"
                  label="Nome do irmão *"
                  required
                ></v-text-field>
              </v-flex>
               <v-flex xs12 sm12 md6 lg6>
                <v-dialog
                  ref="dialog_dataCadastro_modal"
                  v-model="modal_dataCadastro"
                  :return-value.sync="data_cadastro"
                  persistent
                  lazy
                  full-width
                  width="290px"
                >
                  <v-text-field
                    slot="activator"
                    v-model="computedDateFormatted"
                    label="Data de cadastro"
                    append-icon="event"
                    readonly
                    color="teal darken-3"
                    hint
                    single-line
                    persistent-hint
                    box
                  ></v-text-field>
                  <v-date-picker
                    v-model="data_cadastro"
                    scrollable
                    locale="pt-BR"
                    color="blue darken-4"
                  >
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="modal_dataCadastro = false">Cancelar</v-btn>
                    <v-btn
                      flat
                      color="primary"
                      @click="$refs.dialog_dataCadastro_modal.save(data_cadastro)"
                    >OK</v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-flex>
              <v-flex xs12 sm12 md6 lg6 class="pl-2">
                <v-autocomplete
                  v-model="comumCongregacao"
                  :items="igrejas"
                  label="Comum congregação"
                  item-text="comum"
                  item-value="comum"
                  color="blue darken-4"
                  single-line
                  box
                >
                  <template slot="selection" slot-scope="data">{{ data.item.comum}}</template>
                  <template slot="item" slot-scope="data">
                    <v-flex
                      xs10
                      sm10
                      :key="JSON.stringify(data.item.id)"
                    >
                      <v-list-tile>
                        <v-list-tile-content>{{data.item.comum}}</v-list-tile-content>
                      </v-list-tile>
                    </v-flex>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex xs12 sm12 md6 lg6 class="pl-2">
                <v-autocomplete
                  v-model="instrumento"
                  :items="instrumentos"
                  label="Instrumento"
                  item-text="nome"
                  item-value="nome"
                  color="blue darken-4"
                  single-line
                  box
                >
                  <template slot="selection" slot-scope="data">{{ data.item.nome}}</template>
                  <template slot="item" slot-scope="data">
                    <v-flex
                      xs10
                      sm10
                      :key="JSON.stringify(data.item.id)"
                      @click="BuscarCaracteristica(data.item.naipe)"
                    >
                      <v-list-tile>
                        <v-list-tile-content>{{data.item.nome}}</v-list-tile-content>
                      </v-list-tile>
                    </v-flex>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex xs12 sm12 md6 lg6 class="pl-2">
                <v-autocomplete
                  v-model="caracteristica"
                  :items="caracteristicas"
                  label="Caracteristica/Tonalidade"
                  item-text="caracteristica"
                  item-value="caracteristica"
                  color="blue darken-4"
                  single-line
                  box
                >
                  <template slot="selection" slot-scope="data">{{ data.item.caracteristica}}</template>
                  <template slot="item" slot-scope="data">
                    <v-flex xs10 sm10 :key="JSON.stringify(data.item.id)">
                      <v-list-tile>
                        <v-list-tile-content>{{data.item.caracteristica}}</v-list-tile-content>
                      </v-list-tile>
                    </v-flex>
                  </template>
                </v-autocomplete>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-flex xs12 sm12 md12 lg12 align-center class="mb-4">
            <v-btn
              color="green darken-4"
              center
              class="white--text"
              v-on:click="SalvarSolicitacaoEmprestimo()"
            >salvar Solicitação</v-btn>
          </v-flex>
        </v-card-actions>
        <v-layout row align-center>
          <v-dialog v-model="buscaCaracteristica" max-width="350" persistent>
            <v-card>
              <v-card-title class="headline light-blue darken-4 white--text">
                <v-flex align-center class="white--text text--darken-4 body-1">
                  BUSCANDO |
                  <span
                    class="grey--text text--lighten-1 body-1"
                  >CARACTERÍSCAS OU TONALIDADES</span>
                </v-flex>
              </v-card-title>
              <v-card-text>
                <v-flex sm12 xs12 md12 lg12 align-center d-flex>
                  <span>
                    <v-progress-circular
                      :size="50"
                      :width="3"
                      color="light-blue darken-4"
                      indeterminate
                    >
                      <v-icon color="light-blue darken-4">fas fa-user-tie</v-icon>
                    </v-progress-circular>
                    <br />
                    <h4 class="light-blue--text text--darken-4">Esperando informações ...</h4>
                  </span>
                </v-flex>
              </v-card-text>
            </v-card>
          </v-dialog>
        </v-layout>
      </v-card>
      <v-layout row align-center>
        <v-dialog v-model="busca" max-width="350" persistent>
          <v-card>
            <v-card-title class="headline light-blue darken-4 white--text">
              <v-flex align-center class="white--text text--darken-4 body-1">
                BUSCANDO |
                <span class="grey--text text--lighten-1 body-1">IGREJAS E INSTRUMENTOS</span>
              </v-flex>
            </v-card-title>
            <v-card-text>
              <v-flex sm12 xs12 md12 lg12 align-center d-flex>
                <span>
                  <v-progress-circular
                    :size="50"
                    :width="3"
                    color="light-blue darken-4"
                    indeterminate
                  >
                    <v-icon color="light-blue darken-4">fas fa-user-tie</v-icon>
                  </v-progress-circular>
                  <br />
                  <h5 class="light-blue--text text--darken-4">Esperando informações ...</h5>
                </span>
              </v-flex>
            </v-card-text>
          </v-card>
        </v-dialog>
      </v-layout>
    </v-dialog>
  </v-layout>
</template>
<script>
import swal from "sweetalert2";
import StoreInstrumento from "@/pages/Modulos/Patrimonio/Instrumento/Cadastros/store/storeInstrumento";

export default {
  data() {
    return {
      instrumento: "",
      instrumentos: [],
      caracteristica: "",
      caracteristicas: [],
      comumCongregacao: "",
      igrejas: [],
      nome: null,
      dialog: false,
      modal: false,
      busca: false,
      dialog_dataCadastro_modal:null,
      modal_dataCadastro:false,
      data_cadastro:"",
      buscaCaracteristica: false
    };
  },
  computed: {
    computedDateFormatted() {
      return this.formatDate(this.data_cadastro);
    }
  },
  watch: {
    date(val) {
      this.dateFormatted = this.formatDate(this.data_cadastro);
    }
  },
  methods: {
    AlertaMixin(type, title, time) {
      const Toast = swal.mixin({
        toast: true,
        position: "top",
        showConfirmButton: false,
        timer: time
      });

      Toast.fire({
        type: type,
        title: title
      });
    },
    LimparCampos() {
     this.nome = null;
     this.comumCongregacao = null;
     this.instrumento = null;
     this.caracteristica = null;
    },
          BuscarIgrejas() {
            this.igrejas = [];
            let usuarioAutorize = sessionStorage.getItem("usuario");
            if (!usuarioAutorize) {
              this.$router.push("/");
              const toast = swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 3000
              });
              toast({
                type: "error",
                title: "Sem autorização, entre com seus dados novamente!"
              });
            } else if (usuarioAutorize) {
              this.autorizacao = JSON.parse(usuarioAutorize);
              this.busca = true;
              this.$http
                .get(this.$url + "Igreja/v1", {
                  headers: { authorization: "Bearer " + this.autorizacao.accessToken }
                })
                .then(response => {
                  console.log(response.status);
                  if (response.status == 200) {
                    response.data.forEach(element => {
                      this.igrejas.push({
                        id: element.id,
                        comum:
                          element.cidade +
                          " - " +
                          element.bairro +
                          " - " +
                          element.codigo
                      });
                    });
                    this.BuscarInstrumentos();
                  } else if (response.status == 401) {
                  }
                  console.log(response.data);
                })
                .catch(e => {
                  console.error(e);
                  console.data(e.data);
                });
            }
          },
          BuscarInstrumentos() {
            console.log("Buscando instrumentos");
            this.instrumentos = [];
            let usuarioAutorize = sessionStorage.getItem("usuario");
            if (!usuarioAutorize) {
              cosole.log("Sem autorização");
            } else if (usuarioAutorize) {
              let autorizacao = JSON.parse(usuarioAutorize);
              this.busca = true;
              this.$http
                .get(this.$url + "NomeInstrumento/v1", {
                  headers: { authorization: "Bearer " + this.autorizacao.accessToken }
                })
                .then(response => {
                  console.log(response.status);
                  if (response.status == 200) {
                    response.data.forEach(element => {
                      this.instrumentos.push({
                        id: element.id,
                        nome: element.nome,
                        naipe: element.naipe
                      });
                    });
                    this.busca = false;
                  } else if (response.status == 401) {
                  }
                  console.log(response.data);
                })
                .catch(e => {
                  console.error(e);
                  console.data(e.data);
                });
            }
          },
          BuscarCaracteristica(naipe) {
            this.buscaCaracteristica = true;
            this.caracteristicas = [];
            let usuarioAutorize = sessionStorage.getItem("usuario");
            if (!usuarioAutorize) {
              cosole.log("Sem autorização");
            } else if (usuarioAutorize) {
              let autorizacao = JSON.parse(usuarioAutorize);
              this.$http
                .get(
                  this.$url +
                    "CaracteristicaInstrumento/v1/buscar-caracteristica-por-naipe?naipe=" +
                    naipe,
                  {
                    headers: {
                      authorization: "Bearer " + autorizacao.accessToken
                    }
                  }
                )
                .then(response => {
                  //console.log(response.status);
                  if (response.status == 200) {
                    console.log(response.data.caracteristica);
                    this.caracteristicas = response.data;
                    this.buscaCaracteristica = false;
                  }
                })
                .catch(e => {
                  this.buscaCaracteristica = false;
                  console.error(e);
                  console.data(e.data);
                });
            }
          },
          SalvarSolicitacaoEmprestimo() {
            let usuarioAutorize = sessionStorage.getItem("usuario");
            this.autorizacao = JSON.parse(usuarioAutorize);
            this.$http
              .post(
                this.$url + "SolicitacaoEmprestimo/v1",
                {           
                  nome: this.nome,
                  comumCongregacao: this.comumCongregacao,
                  nomeInstrumento : this.instrumento + " " + this.caracteristica,
                  dataCadastro: this.data_cadastro,
                  status:"Aguardando",
                  launchDate: new Date().toISOString().substr(0, 19)
                },
                {
                  headers: {
                    authorization: "Bearer " + this.autorizacao.accessToken
                  }
                }
              )
              .then(response => {
                if (response.status == 200) {
                  console.log("Solicitação de empréstimo salva com sucesso");
                  let irmao = response.data;
                  swal.fire(
                    "Solicitação do irmão " + irmao.nome + " salvo com sucesso!",
                    "success"
                  );
                  this.$emit("solicitacaoSalva");
                }
                console.log(response.data);
              })
              .catch(e => {
                console.error(e);
                console.data(e.data);
              });
          },
    Loading(title, icon) {
      swal.fire({
        title: title,
        html:
          "Por favor só um momento... " + '<i class="fas fa-' + icon + "></i>",
        timer: 3000,
        onOpen: () => {
          swal.enableLoading();
        }
      });
    },
    Salvo(title, msg, type) {
      swal.fire(title, msg, type);
    },
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    }
  }
};
</script>
<style>
.mesmo-tamanho {
  width: 100%;
  white-space: normal;
}
</style>
