<template>
  <site-patrimonio>
    <div class="block-header align-center pt-5">
      <h2 class="font-weight-bold headline blue--text text--darken-4">Solicitações de empréstimos</h2>
    </div>
    <!-- Exportable Table -->
    <v-card>
      <v-flex xs12 sm12 md12 lg12 d-flex>
        <v-flex xs4 sm4 md6 lg3 v-if="busca == false" class="pt-5 pl-4">
          <v-hover>
            <v-text-field
              v-model="procurar"
              box
              append-icon="search"
              label="Procurar solicitação ..."
              color="blue darken-4"
              hide-details
            ></v-text-field>
          </v-hover>
        </v-flex>
        <v-flex xs6 sm6 md4 lg4 offset-md5 align-center class="pt-5 pl-4" v-if="busca == false">
          <solicitacao-emprestimo @solicitacaoSalva="BuscarSolicitacoesEmprestimo()"></solicitacao-emprestimo>
          <editar-solicitacao
            :dialog_ativar="ativar_edicao"
            :solicitacao_dados="solicitacao_edicao"
            @SolicitacaoDeletada="BuscarSolicitacoesEmprestimo"
            @solicitacaoSalva="BuscarSolicitacoesEmprestimo"
          ></editar-solicitacao>
        </v-flex>
      </v-flex>
      <v-layout row align-center>
        <v-dialog v-model="busca" max-width="350" persistent>
          <v-card>
            <v-card-title class="headline light-blue darken-4 white--text">
              <v-flex align-center class="white--text text--darken-4">
                SOLICITAÇÕES |
                <span class="grey--text text--lighten-1">CADASTROS</span>
              </v-flex>
            </v-card-title>
            <v-card-text>
              <v-flex sm12 xs12 md12 lg12 align-center d-flex>
                <span>
                  <v-progress-circular
                    :size="50"
                    :width="3"
                    color="light-blue darken-4"
                    indeterminate
                  >
                    <v-icon color="light-blue darken-4">fas fa-user-tie</v-icon>
                  </v-progress-circular>
                  <br />
                  <h5 class="light-blue--text text--darken-4">Esperando informações ...</h5>
                </span>
              </v-flex>
            </v-card-text>
          </v-card>
        </v-dialog>
      </v-layout>

      <v-data-table
        class="mt-5"
        :search="procurar"
        :headers="headers"
        v-if="busca == false"
        :items="solicitacoesEmprestimo"
        :item-key="solicitacoesEmprestimo.id"
        :pagination.sync="pagination"
      >
        <template slot="items" slot-scope="props" class="mb-3">
          <tr class="pl-4 text-xs-left" style="cursor:pointer;">
            <td @click="AtivarEdicao(props.item.dados)" class>{{ props.item.nome }}</td>
            <td @click="AtivarEdicao(props.item.dados)" class>{{ props.item.nomeInstrumento }}</td>
            <td @click="AtivarEdicao(props.item.dados)" class>{{ props.item.comumCongregacao }}</td>
            <td
              @click="AtivarEdicao(props.item.dados)"
              class
            >{{formatDate(props.item.dataCadastro).substring(9,24)}}</td>
            <td>
              <span v-if="props.item.status == 'Aguardando'"> 
                  <status-solicitacao
                  :statusSolicitacao="props.item.status"
                  :irmao="props.item.nome"
                  :solicitacao = "props.item"
                  @solicitacaoSalva="BuscarSolicitacoesEmprestimo"
                  ></status-solicitacao>
              </span>
              <span  v-if="props.item.status == 'Atendido'">
                  <v-btn flat color="success"><small>{{props.item.status}}</small></v-btn>
              </span>
              <span class="center-block" v-if="props.item.status == 'Não autorizado'">
                  <v-btn flat color="error"><small>{{props.item.status}}</small></v-btn>
              </span>
            </td>
          </tr>
        </template>
      </v-data-table>
    </v-card>
    <!-- #END# Exportable Table -->
  </site-patrimonio>
</template>

<script>
import SolicitacaoEmprestimo from "@/pages/Modulos/Patrimonio/SolicitacoesEmprestimo/Cadastros/SolicitacaoEmprestimoModal.vue";
import SitePatrimonio from "@/templates/SitePatrimonio.vue";
import EditarSolicitacao from "@/pages/Modulos/Patrimonio/SolicitacoesEmprestimo/Editar/EditarSolicitacaoEmprestimoModal.vue";
import StatusSolicitacao from "@/pages/Modulos/Patrimonio/SolicitacoesEmprestimo/Editar/StatusSolicitacaoEmprestimoModal.vue";
import swal from "sweetalert2";

export default {
  name: "Home",
  components: {
    SitePatrimonio,
    SolicitacaoEmprestimo,
    EditarSolicitacao,
    StatusSolicitacao
  },
  data() {
    return {
      ativar_edicao: "",
      solicitacao_edicao: Object,
      procurar: "",
      pagination: {
        descending: true,
        page: 1,
        rowsPerPage: -1,
        sortBy: "fat",
        totalItems: 0,
        rowsPerPageItems: [1, 2, 4, 8, 16]
      },
      headers: [
        {
          text: "NOME",
          align: "left",
          value: "nome",
          class: "blue darken-3 white--text"
        },
        {
          text: "INSTRUMENTO",
          align: "left",
          value: "nomeInstrumento",
          class: "blue darken-3 white--text"
        },
        {
          text: "CASA DE ORAÇÃO",
          align: "left",
          value: "comumCongregacao",
          sortable: false,
          class: "blue darken-3 white--text"
        },
        {
          text: "DATA DE CADASTRO",
          align: "left",
          value: "dataCadastro",
          sortable: false,
          class: "blue darken-3 white--text"
        },
        {
          text: "STATUS",
          align: "justify",
          value: "status",
          class: "blue darken-3 white--text"
        }
      ],
      autorizacao: false,
      solicitacoesEmprestimo: [],
      show: false,
      busca: true,
      identificacaoIgreja: "",
      igreja: [],
      idUsuario: null
    };
  },
  created() {
    this.BuscarSolicitacoesEmprestimo();
  },
  computed: {
    computedDateFormatted() {
      return this.formatDate();
    }
  },
  watch: {
    date(val) {
      this.dateFormatted = this.formatDate();
    },
    igreja: function() {
      //console.log("Whatch igrejas", this.igreja);
    }
  },
  methods: {
    AtivarEdicao(irmao) {
      this.ativar_edicao = Math.random();
      this.solicitacao_edicao = irmao;
    },
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    CadastrarIrmao() {
      this.$router.push("/cadastro-patrimonio-novo-irmao");
    },
    BuscarSolicitacoesEmprestimo() {
      this.solicitacoesEmprestimo = [];
      let usuarioAutorize = sessionStorage.getItem("usuario");
      if (!usuarioAutorize) {
        //this.$router.push("/");
        const toast = swal.mixin({
          toast: true,
          position: "top-end",
          showConfirmButton: false,
          timer: 3000
        });

        toast({
          type: "error",
          title: "Sem autorização, entre com seus dados novamente!"
        });
      } else if (usuarioAutorize) {
        this.autorizacao = JSON.parse(usuarioAutorize);
        this.busca = true;
        this.$http
          .get(this.$url + "SolicitacaoEmprestimo/v1", {
            headers: { authorization: "Bearer " + this.autorizacao.accessToken }
          })
          .then(response => {
            if (response.status == 200) {
              this.busca = false;
              response.data.forEach(element => {
                this.solicitacoesEmprestimo.push({
                  id: element.id,
                  nome: element.nome,
                  nomeInstrumento: element.nomeInstrumento,
                  comumCongregacao: element.comumCongregacao,
                  dataCadastro: element.dataCadastro,
                  status: element.status,
                  dados: element
                });
              });
              //console.log(this.igreja);
            }
            //console.log(response.data);
          })
          .catch(e => {
            console.error(e.status);
            console.data(e.data);
          });
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
