<template>
  <v-layout>
    <v-dialog v-model="dialog" persistent max-width="950px">
      <v-btn color="blue darken-4" slot="activator">
        <small class="white--text">Cadastrar instrumento</small>
        <v-icon right class="white--text">fas fa-music</v-icon>
      </v-btn>
      <v-card>
        <v-flex xs12 sm12>
          <div class="pt-1">
            <v-btn
              right
              class="white--text"
              small
              fab
              round
              box
              color="red darken-1"
              absolute
              v-on:click="dialog = false, Fechar()"
            >
              <v-icon>close</v-icon>
            </v-btn>
          </div>
        </v-flex>
        <v-card-title>
          <v-flex xs12 sm12 md12 lg12 align-center>
            <span class="font-weight-bold headline blue--text text--darken-4">Cadastrar instrumento</span>
          </v-flex>
        </v-card-title>
        <v-card-text v-if="editar == false">
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm12 md4 lg4 class="pl-2">
                <v-autocomplete
                  v-model="nome"
                  :items="nomes"
                  label="Nome do instrumento"
                  item-text="nome"
                  item-value="nome"
                  color="blue darken-4"
                  single-line
                  box
                  :return-object="true"
                >
                  <template v-slot:selection="data">{{ data.item.nome}}</template>
                  <template slot="item" slot-scope="data">
                    <v-flex
                      xs10
                      sm10
                      :key="JSON.stringify(data.item.id)"
                      @click="EscolherNaipe(data.item.naipe)"
                    >
                      <v-list-tile>
                        <v-list-tile-content>{{data.item.nome}}</v-list-tile-content>
                      </v-list-tile>
                    </v-flex>
                  </template>
                </v-autocomplete>
              </v-flex>             
              <v-flex xs12 sm12 md4 lg4 class="pl-2">
                <v-autocomplete
                  v-model="ano"
                  :items="anos"
                  label="Ano de fabricação"
                  item-text="numeroAno"
                  item-value="numeroAno"
                  color="blue darken-4"
                  single-line
                  box
                >
                  <template slot="selection" slot-scope="data">{{ data.item.numeroAno}}</template>
                  <template slot="item" slot-scope="data">
                    <v-flex xs10 sm10 :key="JSON.stringify(data.item.id)">
                      <v-list-tile>
                        <v-list-tile-content>{{data.item.numeroAno}}</v-list-tile-content>
                      </v-list-tile>
                    </v-flex>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex xs12 sm12 md4 lg4 class="pl-2">
                <v-autocomplete
                  v-model="tombamento"
                  :items="tombamentos"
                  label="Número de tombamento"
                  item-text="numero"
                  item-value="numero"
                  color="blue darken-4"
                  single-line
                  box
                >
                  <template slot="selection" slot-scope="data">{{ data.item.numero}}</template>
                  <template slot="item" slot-scope="data">
                    <v-flex xs10 sm10 :key="JSON.stringify(data.item.id)">
                      <v-list-tile>
                        <v-list-tile-content>{{data.item.numero}}</v-list-tile-content>
                      </v-list-tile>
                    </v-flex>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex xs12 sm12 md4 lg4 class="pl-2">
                <v-autocomplete
                  v-model="caracteristica"
                  :items="caracteristicas"
                  label="Característica/Tonalidade"
                  item-text="caracteristica"
                  item-value="caracteristica"
                  color="blue darken-4"
                  single-line
                  box
                >
                  <template slot="selection" slot-scope="data">{{ data.item.caracteristica}}</template>
                  <template slot="item" slot-scope="data">
                    <v-flex xs10 sm10 :key="JSON.stringify(data.item.id)">
                      <v-list-tile>
                        <v-list-tile-content>{{data.item.caracteristica}}</v-list-tile-content>
                      </v-list-tile>
                    </v-flex>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex xs12 sm12 md4 lg4 class="pl-2">
                <v-autocomplete
                  v-model="marca"
                  :items="marcas"
                  label="Marca do instrumento"
                  item-text="marca"
                  item-value="marca"
                  color="blue darken-4"
                  single-line
                  box
                >
                  <template slot="selection" slot-scope="data">{{ data.item.marca}}</template>
                  <template slot="item" slot-scope="data">
                    <v-flex xs10 sm10 :key="JSON.stringify(data.item.id)">
                      <v-list-tile>
                        <v-list-tile-content>{{data.item.marca}}</v-list-tile-content>
                      </v-list-tile>
                    </v-flex>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex xs12 sm12 md4 lg4 class="pl-2">
                <v-autocomplete
                  v-model="componente"
                  :items="componentes"
                  item-text="componente"
                  item-value="componente"
                  color="blue darken-4"
                  single-line
                  box
                  label="Componentes do instrumento"
                  multiple
                  deletable-chips
                  chips
                  :rules="[() => !!componentes || 'Este campo precisa ser selecionado!']"
                >
                  <template slot="selection" slot-scope="data">
                    <v-chip color="blue darken-4" text-color="white">{{data.item.componente}}</v-chip>
                  </template>
                  <template slot="item" slot-scope="data">
                    <v-flex xs10 sm10 :key="JSON.stringify(data.item.id)">
                      <v-list-tile>
                        <v-list-tile-content>{{data.item.componente}}</v-list-tile-content>
                      </v-list-tile>
                    </v-flex>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex xs12 sm12 md12 d-flex>
                <v-textarea
                  v-model="observacao"
                  :counter="1000"
                  append-icon="fas fa-eye"
                  box
                  rows="2"
                  outline
                  label="Observações"
                ></v-textarea>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
         <v-card-text v-if="editar == true">
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm12 md3 lg3 class="pl-2">
                <v-autocomplete
                  v-model="nome"
                  :items="nomes"
                  label="Nome do instrumento"
                  item-text="nome"
                  item-value="nome"
                  color="blue darken-4"
                  single-line
                  box
                  :return-object="true"
                >
                  <template v-slot:selection="data">{{ data.item.nome}}</template>
                  <template slot="item" slot-scope="data">
                    <v-flex
                      xs10
                      sm10
                      :key="JSON.stringify(data.item.id)"
                      @click="EscolherNaipe(data.item.naipe)"
                    >
                      <v-list-tile>
                        <v-list-tile-content>{{data.item.nome}}</v-list-tile-content>
                      </v-list-tile>
                    </v-flex>
                  </template>
                </v-autocomplete>
              </v-flex>
               <v-flex sm1>
                <v-btn fab small color="blue darken-4" outline><v-icon>add</v-icon></v-btn>
              </v-flex>
              <v-flex xs12 sm12 md3 lg3 class="pl-2">
                <v-autocomplete
                  v-model="ano"
                  :items="anos"
                  label="Ano de fabricação"
                  item-text="numeroAno"
                  item-value="numeroAno"
                  color="blue darken-4"
                  single-line
                  box
                >
                  <template slot="selection" slot-scope="data">{{ data.item.numeroAno}}</template>
                  <template slot="item" slot-scope="data">
                    <v-flex xs10 sm10 :key="JSON.stringify(data.item.id)">
                      <v-list-tile>
                        <v-list-tile-content>{{data.item.numeroAno}}</v-list-tile-content>
                      </v-list-tile>
                    </v-flex>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex sm1>
                <v-btn fab small color="blue darken-4" outline><v-icon>add</v-icon></v-btn>
              </v-flex>
              <v-flex xs12 sm12 md3 lg3 class="pl-2">
                <v-autocomplete
                  v-model="tombamento"
                  :items="tombamentos"
                  label="Número de tombamento"
                  item-text="numero"
                  item-value="numero"
                  color="blue darken-4"
                  single-line
                  box
                >
                  <template slot="selection" slot-scope="data">{{ data.item.numero}}</template>
                  <template slot="item" slot-scope="data">
                    <v-flex xs10 sm10 :key="JSON.stringify(data.item.id)">
                      <v-list-tile>
                        <v-list-tile-content>{{data.item.numero}}</v-list-tile-content>
                      </v-list-tile>
                    </v-flex>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex sm1>
                <v-btn fab small color="blue darken-4" outline><v-icon>add</v-icon></v-btn>
              </v-flex>
              <v-flex xs12 sm12 md3 lg3 class="pl-2">
                <v-autocomplete
                  v-model="caracteristica"
                  :items="caracteristicas"
                  label="Característica/Tonalidade"
                  item-text="caracteristica"
                  item-value="caracteristica"
                  color="blue darken-4"
                  single-line
                  box
                >
                  <template slot="selection" slot-scope="data">{{ data.item.caracteristica}}</template>
                  <template slot="item" slot-scope="data">
                    <v-flex xs10 sm10 :key="JSON.stringify(data.item.id)">
                      <v-list-tile>
                        <v-list-tile-content>{{data.item.caracteristica}}</v-list-tile-content>
                      </v-list-tile>
                    </v-flex>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex sm1>
                <v-btn fab small color="blue darken-4" outline><v-icon>add</v-icon></v-btn>
              </v-flex>
              <v-flex xs12 sm12 md3 lg3 class="pl-2">
                <v-autocomplete
                  v-model="marca"
                  :items="marcas"
                  label="Marca do instrumento"
                  item-text="marca"
                  item-value="marca"
                  color="blue darken-4"
                  single-line
                  box
                >
                  <template slot="selection" slot-scope="data">{{ data.item.marca}}</template>
                  <template slot="item" slot-scope="data">
                    <v-flex xs10 sm10 :key="JSON.stringify(data.item.id)">
                      <v-list-tile>
                        <v-list-tile-content>{{data.item.marca}}</v-list-tile-content>
                      </v-list-tile>
                    </v-flex>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex sm1>
                <v-btn fab small color="blue darken-4" outline><v-icon>add</v-icon></v-btn>
              </v-flex>
              <v-flex xs12 sm12 md3 lg3 class="pl-2">
                <v-autocomplete
                  v-model="componente"
                  :items="componentes"
                  item-text="componente"
                  item-value="componente"
                  color="blue darken-4"
                  single-line
                  box
                  label="Componentes do instrumento"
                  multiple
                  deletable-chips
                  chips
                  :rules="[() => !!componentes || 'Este campo precisa ser selecionado!']"
                >
                  <template slot="selection" slot-scope="data">
                    <v-chip color="blue darken-4" text-color="white">{{data.item.componente}}</v-chip>
                  </template>
                  <template slot="item" slot-scope="data">
                    <v-flex xs10 sm10 :key="JSON.stringify(data.item.id)">
                      <v-list-tile>
                        <v-list-tile-content>{{data.item.componente}}</v-list-tile-content>
                      </v-list-tile>
                    </v-flex>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex sm1>
                <v-btn fab small color="blue darken-4" outline><v-icon>add</v-icon></v-btn>
              </v-flex>
              <v-flex xs12 sm12 md12 d-flex>
                <v-textarea
                  v-model="observacao"
                  :counter="1000"
                  append-icon="fas fa-eye"
                  box
                  rows="2"
                  outline
                  label="Observações"
                ></v-textarea>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-flex sm12 md4 lg4 offset-sm1>
            <v-btn color="orange" outline class="white--text" v-if="editar == false" @click="Editar">
              <small>Editar </small>
              <v-icon right>fas fa-edit</v-icon>
            </v-btn>
            <v-btn color="orange"  class="white--text" v-if="editar == true" @click="NaoEditar">
              <small>Não Editar </small>
              <v-icon right>fas fa-edit</v-icon>
            </v-btn>
          </v-flex>
          <v-flex sm12 md4 lg4>
            <!--v-btn
              color="indigo darken-4"
              center
              class="white--text"              
            >Registrar compra
            <v-icon right color="white">fas fa-shopping-cart</v-icon>
            </v-btn-->
            <cad-doacao :tombamento="tombamento"></cad-doacao>
          </v-flex>
          <v-flex sm12 md4 lg4>
            <!--v-btn
              color="indigo darken-4"
              center
              class="white--text"              
            >Registrar compra
            <v-icon right color="white">fas fa-shopping-cart</v-icon>
            </v-btn-->
            <cad-compra
              :numero_tombamento="tombamento"
              @SalvarInstrumento="SalvarCompraInstrumento"
            ></cad-compra>
          </v-flex>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script>
import swal from "sweetalert2";
import CadDoacao from "@/pages/Modulos/Patrimonio/Instrumento/Cadastros/CadastrarDoacaoModal";
import CadCompra from "@/pages/Modulos/Patrimonio/Instrumento/Cadastros/CadastrarCompraModal";
import StoreInstrumento from "@/pages/Modulos/Patrimonio/Instrumento/Cadastros/store/storeInstrumento";
import StoreDoacao from "@/pages/Modulos/Patrimonio/Instrumento/Cadastros/store/storeDoacao";
import StoreCompra from "@/pages/Modulos/Patrimonio/Instrumento/Cadastros/store/storeCompra";

export default {
  components: {
    CadDoacao,
    CadCompra
  },
  data() {
    return {
      nome: null,
      nomes: [],
      naipe: null,
      ano: null,
      anos: [],
      tombamento: null,
      tombamentos: [],
      caracteristica: null,
      caracteristicas: [],
      marca: null,
      marcas: [],
      componente: null,
      componentes: [],
      data_nascimento: null,
      dialog: false,
      observacao: "Sem observações",
      editar:false
    };
  },
  watch: {
    dialog: function() {
      if (this.dialog == true) {
        this.Fechar();
        this.CarregarDados();
      }
    }
  },
  methods: {
    Editar(){
      this.editar = true;
    },
    NaoEditar(){
      this.editar = false;
    },
    SalvarCompraInstrumento() {
      let Usuario = sessionStorage.getItem("usuario");
      let autorizacao = JSON.parse(Usuario);
      this.$http
        .post(
          this.$url + "Instrumento/v1",
          {
            id: 0,
            nome: this.nome.nome,
            ano: this.ano,
            status: "1",
            aquisicao: "2",
            tombamento: this.tombamento,
            componentes: this.componente.toString(),
            caracteristica: this.caracteristica,
            marca: this.marca,
            descricao: this.descricao,
            launchDate: new Date().toISOString().substr(0, 19)
          },
          {
            headers: { authorization: "Bearer " + autorizacao.accessToken }
          }
        )
        .then(response => {
          //console.log(response.status);
          if (response.status == 200) {
            console.log(response.data);
            this.AtualizarStatusTombamento(this.tombamento);
          }
        })
        .catch(e => {
          console.error(e);
          console.data(e.data);
        });
    },
    AtualizarStatusTombamento(tombamento) {
      let Usuario = sessionStorage.getItem("usuario");
      let autorizacao = JSON.parse(Usuario);
      this.$http
        .put(
          this.$url +
            "TombamentoInstrumento/v1/selecionar-tombamento?tombamento=" +
            tombamento,
          {
            headers: { authorization: "Bearer " + autorizacao.accessToken }
          }
        )
        .then(response => {
          //console.log(response.status);
          if (response.status == 200) {
            console.log(response.data);
          }
        })
        .catch(e => {
          console.error(e);
          console.data(e.data);
        });
    },
    Fechar() {
      this.ano = null;
      this.nome = null;
      this.tombamento = null;
      this.marca = null;
      this.componente = null;
      this.caracteristica = null;
      this.observacao = "Sem observações";
    },
    CarregarDados() {
      StoreInstrumento.state.anos.forEach(element => {
        this.anos.push({ id: element.id, numeroAno: element.numeroAno });
      });
      StoreInstrumento.state.nomes.forEach(element => {
        this.nomes.push({
          id: element.id,
          nome: element.nome,
          naipe: element.naipe
        });
      });
      this.tombamentos = [];
      this.tombamentos = StoreInstrumento.state.tombamentos;
      console.log(StoreInstrumento.state.tombamentos);
      StoreInstrumento.state.marcas.forEach(element => {
        this.marcas.push({ id: element.id, marca: element.marca });
      });
      StoreInstrumento.state.componentes.forEach(element => {
        this.componentes.push({
          id: element.id,
          componente: element.componente
        });
      });
      StoreDoacao.dispatch("BuscandoOrigensInstrumentos");
      StoreCompra.dispatch("BuscandoEmpresasInstrumentos");
    },
    EscolherNaipe(payload) {
      let Usuario = sessionStorage.getItem("usuario");
      let autorizacao = JSON.parse(Usuario);
      this.$http
        .get(
          this.$url +
            "CaracteristicaInstrumento/v1/buscar-caracteristica-por-naipe?naipe=" +
            payload,
          { headers: { authorization: "Bearer " + autorizacao.accessToken } }
        )
        .then(response => {
          //console.log(response.status);
          if (response.status == 200) {
            //console.log(response.data)
            this.caracteristicas = response.data;
          }
        })
        .catch(e => {
          console.error(e);
          console.data(e.data);
        });
    },
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    }
  }
};
</script>
<style>
.mesmo-tamanho {
  width: 100%;
  white-space: normal;
}
</style>
