<template>
  <v-layout>
    <v-dialog v-model="dialog" persistent max-width="800px">
      <v-card>
        <v-flex xs12 sm12>
          <div class="pt-1">
            <v-btn
              right
              class="white--text"
              small
              fab
              round
              box
              color="red darken-1"
              absolute
              v-on:click="dialog = false, editarDisable = true"
            >
              <v-icon>close</v-icon>
            </v-btn>
          </div>
        </v-flex>
        <v-card-title>
          <v-flex xs12 sm12 md12 lg12 align-center>
            <span
              class="font-weight-bold headline blue--text text--darken-4"
            >Editar solicitação do irmão {{nome}}</span>
          </v-flex>
        </v-card-title>
        <v-card-text v-if="editarDisable == true">
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex offset-md7 offset-xs7 offset-sm7 xs5 sm5 md5>
                <v-btn
                  color="orange"
                  class="white--text"
                  @click="AtivarEdicao()"
                  v-if="editarDisable == true"
                >Ativar edição</v-btn>
              </v-flex>
              <v-flex xs12 sm12 md12>
                <v-text-field
                  v-model="nome"
                  box
                  color="blue darken-3"
                  append-icon="fas fa-envelope-open"
                  label="Nome"
                  required
                  :readonly="editarDisable"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm12 md6>
                <v-text-field
                  v-model="comumCongregacao"
                  box
                  color="blue darken-3"
                  append-icon="fas fa-envelope-open"
                  label="Comum congregação"
                  required
                  :readonly="editarDisable"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm12 md6>
                <v-text-field
                  v-model="instrumento"
                  box
                  color="blue darken-3"
                  append-icon="fas fa-envelope-open"
                  label="Instrumento"
                  required
                  :readonly="editarDisable"
                ></v-text-field>
              </v-flex>             
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-text v-if="editarDisable == false">
          <v-container grid-list-md>
            <v-flex offset-md7 offset-xs7 offset-sm7 xs5 sm5 md5>
              <v-btn
                color="orange"
                outline
                class="white--text"
                @click="DesativarEdicao()"
                v-if="editarDisable == false"
              >Desativar edição</v-btn>
              <v-btn color="red" class="white--text" @click="AlertaDeletar(idSolicitacao)">Excluir</v-btn>
            </v-flex>
            <v-layout wrap>
              <v-flex xs12 sm12 md12>
                <v-text-field
                  v-model="nome"
                  box
                  append-icon="fas fa-book"
                  color="blue darken-4"
                  label="Nome do irmão *"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm12 md12 lg12 class="pl-2">
                <v-autocomplete
                  v-model="comumCongregacao"
                  :items="igrejas"
                  label="Comum congregação"
                  item-text="comum"
                  item-value="comum"
                  color="blue darken-4"
                  single-line
                  box
                >
                  <template slot="selection" slot-scope="data">{{ data.item.comum}}</template>
                  <template slot="item" slot-scope="data">
                    <v-flex
                      xs10
                      sm10
                      :key="JSON.stringify(data.item.id)"
                      @click="EscolherIgreja(data.item.id)"
                    >
                      <v-list-tile>
                        <v-list-tile-content>{{data.item.comum}}</v-list-tile-content>
                      </v-list-tile>
                    </v-flex>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex xs12 sm12 md6 lg6 class="pl-2">
                <v-autocomplete
                  v-model="instrumento"
                  :items="instrumentos"
                  label="Instrumento"
                  item-text="nome"
                  item-value="nome"
                  color="blue darken-4"
                  single-line
                  box
                >
                  <template slot="selection" slot-scope="data">{{ data.item.nome}}</template>
                  <template slot="item" slot-scope="data">
                    <v-flex
                      xs10
                      sm10
                      :key="JSON.stringify(data.item.id)"
                      @click="BuscarCaracteristica(data.item.naipe)"
                    >
                      <v-list-tile>
                        <v-list-tile-content>{{data.item.nome}}</v-list-tile-content>
                      </v-list-tile>
                    </v-flex>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex xs12 sm12 md6 lg6 class="pl-2">
                <v-autocomplete
                  v-model="caracteristica"
                  :items="caracteristicas"
                  label="Caracteristica/Tonalidade"
                  item-text="caracteristica"
                  item-value="caracteristica"
                  color="blue darken-4"
                  single-line
                  box
                >
                  <template slot="selection" slot-scope="data">{{ data.item.caracteristica}}</template>
                  <template slot="item" slot-scope="data">
                    <v-flex xs10 sm10 :key="JSON.stringify(data.item.id)">
                      <v-list-tile>
                        <v-list-tile-content>{{data.item.caracteristica}}</v-list-tile-content>
                      </v-list-tile>
                    </v-flex>
                  </template>
                </v-autocomplete>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-flex xs12 sm12 md12 lg12 align-center class="mb-4">
            <v-btn
              color="green darken-4"
              center
              @click="SalvarSolicitacaoEmprestimo()"
              class="white--text"
            >salvar irmão</v-btn>
          </v-flex>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script>
import swal from "sweetalert2";
import axios from "axios";

export default {
  name: "EditarIrmaoModal",
  props: ["solicitacao_dados", "dialog_ativar"],
  data() {
    return {
      idSolicitacao: null,
      dialog_nascimento_modal: false,
      data_nascimento: null,
      nome: null,
      comumCongregacao: null,
      instrumento: null,
      caracteristica: null,
      caracteristicas:[],
      dialog: false,
      modal: false,
      autorizacao: "",
      editarDisable: true,
      irmao: [],
      idVinculoIgreja: null
    };
  },
  computed: {
    computedDateFormatted() {
      return this.formatDate(this.data_nascimento);
    }
  },
  watch: {
    dialog_ativar: function() {
      this.dialog = true;
      this.idSolicitacao = this.solicitacao_dados.id;
      this.nome = this.solicitacao_dados.nome;
      this.comumCongregacao = this.solicitacao_dados.comumCongregacao;
      this.instrumento = this.solicitacao_dados.nomeInstrumento;
      this.BuscarIgrejas();
      this.BuscarInstrumentos();
      this.BuscarCaracteristica();
    },
    date(val) {
      this.dateFormatted = this.formatDate(this.data_nascimento);
    }
  },
  methods: {
    AtivarEdicao() {
      this.editarDisable = false;
      console.log(this.solicitacao_dados);
    },
    DesativarEdicao() {
      this.editarDisable = true;
      this.nome = this.solicitacao_dados.nome;
      this.comumCongregacao = this.solicitacao_dados.comumCongregacao;
      this.instrumento = this.solicitacao_dados.nomeInstrumento;
    },
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    AlertaDeletar(id) {
      const swalWithBootstrapButtons = swal.mixin({
        confirmButtonClass: "btn  btn-success",
        cancelButtonClass: "btn btn-danger",
        buttonsStyling: true
      });

      return swalWithBootstrapButtons({
        title: "Deseja excluir a solicitacao " + this.nome + "?",
        text:
          "Se confirmar esta ação o registro será excluido definitivamente do nosso banco de dados.",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Sim",
        cancelButtonText: "Não",
        reverseButtons: true
      }).then(result => {
        if (result.value) {
          this.SolicitacaoDeletar(id);
        } else if (
          // Read more about handling dismissals
          result.dismiss === swal.DismissReason.cancel
        ) {
        }
      });
    },
    SolicitacaoDeletar(item) {
      let usuarioAutorize = sessionStorage.getItem("usuario");
      if (!usuarioAutorize) {
        console.log("Nao autorizado");
      } else if (usuarioAutorize) {
        console.log("delete o item ", item);
        this.autorizacao = JSON.parse(usuarioAutorize);
        this.$http
          .delete(this.$url + "SolicitacaoEmprestimo/v1/" + item, {
            headers: {
              authorization: "Bearer " + this.autorizacao.accessToken
            }
          })
          .then(response => {
            console.log(response.status);
            if (response.status == 204) {
              console.log("Deletado com sucesso, dados:", response.data);
              this.$emit("SolicitacaoDeletada");
            }
          })
          .catch(e => {
            console.error(e);
            console.data(e.data);
          });
      }
    },BuscarIgrejas() {
      this.igrejas = [];
      let usuarioAutorize = sessionStorage.getItem("usuario");
      if (!usuarioAutorize) {
        this.$router.push("/");
        const toast = swal.mixin({
          toast: true,
          position: "top-end",
          showConfirmButton: false,
          timer: 3000
        });
        toast({
          type: "error",
          title: "Sem autorização, entre com seus dados novamente!"
        });
      } else if (usuarioAutorize) {
        this.autorizacao = JSON.parse(usuarioAutorize);
        this.busca = true;
        this.$http
          .get(this.$url + "Igreja/v1", {
            headers: { authorization: "Bearer " + this.autorizacao.accessToken }
          })
          .then(response => {
            console.log(response.status);
            if (response.status == 200) {
              response.data.forEach(element => {
                this.igrejas.push({
                  id: element.id,
                  comum:
                    element.cidade +
                    " - " +
                    element.bairro +
                    " - " +
                    element.codigo
                });
              });
              this.BuscarInstrumentos();
            } else if (response.status == 401) {
            }
            console.log(response.data);
          })
          .catch(e => {
            console.error(e);
            console.data(e.data);
          });
      }
    },
    BuscarInstrumentos() {
      console.log("Buscando instrumentos");
      this.instrumentos = [];
      let usuarioAutorize = sessionStorage.getItem("usuario");
      if (!usuarioAutorize) {
        cosole.log("Sem autorização");
      } else if (usuarioAutorize) {
        let autorizacao = JSON.parse(usuarioAutorize);
        this.busca = true;
        this.$http
          .get(this.$url + "NomeInstrumento/v1", {
            headers: { authorization: "Bearer " + this.autorizacao.accessToken }
          })
          .then(response => {
            console.log(response.status);
            if (response.status == 200) {
              response.data.forEach(element => {
                this.instrumentos.push({
                  id: element.id,
                  nome: element.nome,
                  naipe: element.naipe
                });
              });
              this.busca = false;
            } else if (response.status == 401) {
            }
            console.log(response.data);
          })
          .catch(e => {
            console.error(e);
            console.data(e.data);
          });
      }
    },
    BuscarCaracteristica(naipe) {
      this.buscaCaracteristica = true;
      this.caracteristicas = [];
      let usuarioAutorize = sessionStorage.getItem("usuario");
      if (!usuarioAutorize) {
        cosole.log("Sem autorização");
      } else if (usuarioAutorize) {
        let autorizacao = JSON.parse(usuarioAutorize);
        this.$http
          .get(
            this.$url +
              "CaracteristicaInstrumento/v1/buscar-caracteristica-por-naipe?naipe=" +
              naipe,
            {
              headers: {
                authorization: "Bearer " + autorizacao.accessToken
              }
            }
          )
          .then(response => {
            //console.log(response.status);
            if (response.status == 200) {
              console.log(response.data.caracteristica);
              this.caracteristicas = response.data;
              this.buscaCaracteristica = false;
            }
          })
          .catch(e => {
            this.buscaCaracteristica = false;
            console.error(e);
            console.data(e.data);
          });
      }
    },
    SalvarSolicitacaoEmprestimo() {
      let usuarioAutorize = sessionStorage.getItem("usuario");
      this.autorizacao = JSON.parse(usuarioAutorize);
      this.$http
        .put(
          this.$url + "SolicitacaoEmprestimo/v1",
          {
            id:this.idSolicitacao,        
            nome: this.nome,
            comumCongregacao: this.comumCongregacao,
            nomeInstrumento : this.instrumento + " " + this.caracteristica,
            launchDate: new Date().toISOString().substr(0, 19)
          },
          {
            headers: {
              authorization: "Bearer " + this.autorizacao.accessToken
            }
          }
        )
        .then(response => {
          if (response.status == 200) {
            console.log("Solicitação de empréstimo salva com sucesso");
            let irmao = response.data;
            swal.fire(
              "Solicitação do irmão " + irmao.nome + " salvo com sucesso!",
              "success"
            );
            this.$emit("solicitacaoSalva");
          }
          console.log(response.data);
        })
        .catch(e => {
          console.error(e);
          console.data(e.data);
        });
    },
  }
};
</script>
<style>
.mesmo-tamanho {
  width: 100%;
  white-space: normal;
}
</style>
