<template>
  <v-layout>
    <v-dialog v-model="dialog" persistent max-width="400px">
      <v-btn
        flat
        color="warning"
        v-if="statusSolicitacao == 'Aguardando'" 
        @click="Mostrar"       
        slot="activator"
      >
      <small> {{statusSolicitacao}}</small>
      </v-btn>
      <v-card>
        <v-flex xs12 sm12>
          <div class="pt-1">
            <v-btn
              right
              class="white--text"
              small
              fab
              round
              box
              color="red darken-1"
              absolute
              v-on:click="dialog = false"
            >
              <v-icon>close</v-icon>
            </v-btn>
          </div>
        </v-flex>
        <v-card-title>
          <v-flex xs12 sm12 md12 lg12 pt-4 align-center>
            <span
              class="font-weight-bold headline blue--text text--darken-4"
            >Solicitação de intrumento para <br> o irmão {{irmao}}</span>
          </v-flex>
        </v-card-title>
        <v-card-text>
          <v-flex sm12 xs12 md12 lg12 align-center d-flex>
            <span>
              <br />
              <h3
                class="light-blue--text text--darken-4"
              >Gostaria de modificar o status dessa solicitação?</h3>

              <v-btn
                color="success"
                v-if="statusSolicitacao == 'Aguardando'"
                @click="SalvarStatusAprovadoSolicitacaoEmprestimo"
              >
                <small>Aprovado</small>
              </v-btn>
              <v-btn
                color="error"
                v-if="statusSolicitacao == 'Aguardando'"
                @click="SalvarStatusNaoAutorizadoSolicitacaoEmprestimo"
              >
                <small>Não autorizado</small>
              </v-btn>
            </span>
          </v-flex>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script>
import swal from "sweetalert2";
import StoreInstrumento from "@/pages/Modulos/Patrimonio/Instrumento/Cadastros/store/storeInstrumento";

export default {
  props: ["statusSolicitacao", "irmao","solicitacao"],
  data() {
    return {     
      dialog: false,
      modal: false     
    };
  }, 
  methods: {
    AlertaMixin(type, title, time) {
      const Toast = swal.mixin({
        toast: true,
        position: "top",
        showConfirmButton: false,
        timer: time
      });

      Toast.fire({
        type: type,
        title: title
      });
    }, 
    Mostrar(){
      console.log(this.solicitacao)
    } , 
    SalvarStatusAprovadoSolicitacaoEmprestimo() {
      let usuarioAutorize = sessionStorage.getItem("usuario");
      this.autorizacao = JSON.parse(usuarioAutorize);
      this.$http
        .put(
          this.$url + "SolicitacaoEmprestimo/v1",
          {
            id:this.solicitacao.id,
            nome: this.solicitacao.nome,
            comumCongregacao: this.comumCongregacao,
            nomeInstrumento: this.solicitacao.nomeInstrumento,
            dataCadastro: this.solicitacao.dataCadastro,
            status:"Atendido",
            launchDate: this.solicitacao.dados.launcDate
          },
          {
            headers: {
              authorization: "Bearer " + this.autorizacao.accessToken
            }
          }
        )
        .then(response => {
          if (response.status == 200) {
            console.log("Solicitação de empréstimo salva com sucesso");
            let irmao = response.data;
            swal.fire(
              "Solicitação do irmão " + irmao.nome + " salvo com sucesso!",
              "success"
            );
            this.$emit("solicitacaoSalva");
          }
          console.log(response.data);
        })
        .catch(e => {
          console.error(e);
          console.data(e.data);
        });
    },
    SalvarStatusNaoAutorizadoSolicitacaoEmprestimo() {
      let usuarioAutorize = sessionStorage.getItem("usuario");
      this.autorizacao = JSON.parse(usuarioAutorize);
      this.$http
        .put(
          this.$url + "SolicitacaoEmprestimo/v1",
          {
            id:this.solicitacao.id,
            nome: this.solicitacao.nome,
            comumCongregacao: this.comumCongregacao,
            nomeInstrumento: this.solicitacao.nomeInstrumento,
            dataCadastro: this.solicitacao.dataCadastro,
            status:"Não autorizado",
            launchDate: this.solicitacao.dados.launcDate
          },
          {
            headers: {
              authorization: "Bearer " + this.autorizacao.accessToken
            }
          }
        )
        .then(response => {
          if (response.status == 200) {
            console.log("Solicitação de empréstimo salva com sucesso");
            let irmao = response.data;
            swal.fire(
              "Solicitação do irmão " + irmao.nome + " salvo com sucesso!",
              "success"
            );
            this.$emit("solicitacaoSalva");
          }
          console.log(response.data);
        })
        .catch(e => {
          console.error(e);
          console.data(e.data);
        });
    },
    Loading(title, icon) {
      swal.fire({
        title: title,
        html:
          "Por favor só um momento... " + '<i class="fas fa-' + icon + "></i>",
        timer: 3000,
        onOpen: () => {
          swal.enableLoading();
        }
      });
    },
    Salvo(title, msg, type) {
      swal.fire(title, msg, type);
    },
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    }
  }
};
</script>
<style>
.mesmo-tamanho {
  width: 100%;
  white-space: normal;
}
</style>
